<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src={{dish.image}} alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </md-card-actions>
    </md-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <md-list>
      <md-list-item *ngFor="let opinion of dish.comments">
        <p md-line> {{opinion.comment}} </p>
        <p md-line> {{opinion.rating}} stars</p>
        <p md-line> -- {{opinion.author}}, {{opinion.date | date}} </p>
      </md-list-item>
    </md-list>
<p>
    <md-list *ngIf="dishCommentForm.valid">
        <md-list-item>
          <p md-line> {{ dishCommentForm.get('comment').value}}</p>
          <p md-line> {{ dishCommentForm.get('rating').value}} stars</p>
          <p md-line> -- {{ dishCommentForm.get('author').value}}</p>
        </md-list-item>
      </md-list>
   </p>
  <form novalidate [formGroup]="dishCommentForm" (ngSubmit)="onSubmit()">
<p>
    <md-input-container dividerColor="{{(formErrors.author)? 'warn' : 'primary'}}"> 
      <input mdInput formControlName="author" placeholder="Your name" type="text" required>
      <md-hint>
          <span [hidden]="!(formErrors.author)"> 
            {{formErrors.author}}
          </span>
      </md-hint>
    </md-input-container></p>
    <p>
      <md-slider formControlName="rating" min="1" max="5" step="1" thumbLabel tickInterval="1"></md-slider>
    </p>
    <p>
    <md-input-container dividerColor="{{(dishCommentForm.get('comment').hasError('required') && dishCommentForm.get('comment').touched) ? 'warn' : 'primary'}}"> 
        <textarea mdInput formControlName="comment" placeholder="Comment" type="text" required rows=3></textarea>
        <md-hint>
            <span [hidden]="!(dishCommentForm.get('comment').hasError('required') && dishCommentForm.get('comment').touched)"> 
                    Please leave your comment
            </span>
        </md-hint>
    </md-input-container>
  </p>
  <button type="submit" md-button class="background-primary text-floral-white" [disabled]="dishCommentForm.invalid">Submit</button>
</form>

  </div>


</div>
